# to analyze used car listing data from ebay

In [1]:
import pandas as pd
import numpy as np
autos=pd.read_csv('autos.csv', encoding='Latin-1')

In [2]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,$999,test,NaN,2017,manuell,90,NaN,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,$350,control,NaN,2000,NaN,0,NaN,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,"$5,299",control,kleinwagen,2010,automatik,71,fortwo,"50,000km",9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,privat,Angebot,"$1,350",control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,0,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,privat,Angebot,"$3,999",test,kleinwagen,2007,manuell,75,clio,"150,000km",9,benzin,renault,NaN,2016-03-23 00:00:00,0,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,"$18,900",test,coupe,1982,automatik,203,NaN,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,privat,Angebot,$350,test,kombi,1999,manuell,101,vectra,"150,000km",5,benzin,opel,nein,2016-03-16 00:00:00,0,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,privat,Angebot,"$5,500",test,coupe,1990,manuell,205,scirocco,"150,000km",6,benzin,volkswagen,nein,2016-03-29 00:00:00,0,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,privat,Angebot,$300,control,bus,1995,manuell,150,3er,"150,000km",0,benzin,bmw,NaN,2016-03-26 00:00:00,0,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,privat,Angebot,"$4,150",control,suv,2004,manuell,124,andere,"150,000km",2,lpg,mazda,nein,2016-03-17 00:00:00,0,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,privat,Angebot,"$3,500",test,kombi,2003,manuell,131,a4,"150,000km",5,diesel,audi,NaN,2016-03-05 00:00:00,0,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,privat,Angebot,"$41,500",test,cabrio,2004,manuell,320,911,"150,000km",4,benzin,porsche,nein,2016-03-06 00:00:00,0,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,"$25,450",control,cabrio,2015,manuell,184,cooper,"10,000km",1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,privat,Angebot,"$7,999",control,bus,2010,manuell,120,NaN,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,0,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,"$48,500",control,limousine,2014,automatik,306,5er,"30,000km",12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,privat,Angebot,$90,control,kombi,1996,manuell,116,NaN,"150,000km",4,benzin,ford,ja,2016-03-21 00:00:00,0,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,$777,control,kleinwagen,1992,manuell,54,polo,"125,000km",2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,$0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,privat,Angebot,"$5,250",control,kleinwagen,2007,manuell,110,cooper,"150,000km",7,diesel,mini,ja,2016-03-19 00:00:00,0,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,privat,Angebot,"$4,999",test,kombi,2004,automatik,204,e_klasse,"150,000km",10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,0,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,"$15,800",control,bus,2010,automatik,136,c4,"60,000km",4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,privat,Angebot,$950,test,kleinwagen,2001,manuell,50,lupo,"150,000km",4,benzin,volkswagen,nein,2016-03-29 00:00:00,0,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,privat,Angebot,"$3,300",control,bus,2004,automatik,150,vito,"150,000km",10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,0,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,privat,Angebot,"$6,000",control,cabrio,2004,manuell,163,slk,"150,000km",11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,53567,2016-03-27 08:25:24
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,$0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,"$9,700",control,kleinwagen,2012,automatik,88,jazz,"100,000km",11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,privat,Angebot,"$5,900",test,kombi,1992,automatik,150,80,"150,000km",12,benzin,audi,nein,2016-03-19 00:00:00,0,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,privat,Angebot,"$5,500",control,limousine,2003,manuell,116,c_klasse,"150,000km",2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,0,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,privat,Angebot,$900,control,limousine,1996,automatik,136,e_klasse,"150,000km",9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,0,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,"$11,000",test,kleinwagen,2011,manuell,90,polo,"70,000km",11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,$400,control,kombi,1995,manuell,105,escort,"125,000km",3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,privat,Angebot,"$2,000",control,kombi,1998,manuell,115,astra,"150,000km",12,benzin,opel,nein,2016-03-15 00:00:00,0,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,"$1,950",control,kleinwagen,2004,manuell,0,fabia,"90,000km",7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,privat,Angebot,$600,test,kleinwagen,1999,manuell,101,focus,"150,000km",4,benzin,ford,NaN,2016-03-06 00:00:00,0,52477,2016-03-09 06:16:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,$0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,"$1,000",control,NaN,1995,automatik,0,NaN,"150,000km",0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,"$15,900",control,limousine,2010,automatik,218,300c,"125,000km",11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,"$21,990",control,limousine,2013,manuell,150,a3,"50,000km",11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,privat,Angebot,"$9,550",control,coupe,2001,manuell,231,3er,"150,000km",10,benzin,bmw,nein,2016-03-28 00:00:00,0,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,$150,test,kleinwagen,1997,manuell,0,polo,"150,000km",5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,"$17,500",test,limousine,2012,manuell,156,a_klasse,"30,000km",12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,$500,control,NaN,2016,manuell,0,twingo,"150,000km",0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,"$4,800",control,kleinwagen,2009,manuell,120,andere,"125,000km",9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,privat,Angebot,"$1,650",control,kleinwagen,1997,manuell,0,NaN,"150,000km",7,benzin,audi,NaN,2016-03-15 00:00:00,0,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,privat,Angebot,"$5,000",control,kombi,2001,automatik,299,a6,"150,000km",1,benzin,audi,nein,2016-03-22 00:00:00,0,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [3]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [4]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

several columns have number of null values. listing names look extremely non-uniform

In [5]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [6]:
autos=pd.read_csv('autos.csv', encoding='Latin-1')
d={'yearOfRegistration':'registration_year','monthOfRegistration':'registration_month','notRepairedDamage':'unrepaired_damage','dateCreated':'ad_created'}
autos.rename(columns=d,inplace=True)
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'registration_year', 'gearbox', 'powerPS', 'model',
       'odometer', 'registration_month', 'fuelType', 'brand',
       'unrepaired_damage', 'ad_created', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [7]:
autos.columns=autos.columns.str.replace('[.(A-Z)]','_\g<0>')
autos.columns

Index(['date_Crawled', 'name', 'seller', 'offer_Type', 'price', 'abtest',
       'vehicle_Type', 'registration_year', 'gearbox', 'power_P_S', 'model',
       'odometer', 'registration_month', 'fuel_Type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_Of_Pictures', 'postal_Code',
       'last_Seen'],
      dtype='object')

In [8]:
autos.columns=autos.columns.str.lower()
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_p_s', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

In [9]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_p_s,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

changed column labels from camelcase to snakecase to fit python standards. renamed some column labels for added clarity.

In [10]:
autos.describe()

,registration_year,power_p_s,registration_month,nr_of_pictures,postal_code
count,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,2005.073280,116.355920,5.723360,0.0,50813.627300
std,105.712813,209.216627,3.711984,0.0,25779.747957
min,1000.000000,0.000000,0.000000,0.0,1067.000000
25%,1999.000000,70.000000,3.000000,0.0,30451.000000
50%,2003.000000,105.000000,6.000000,0.0,49577.000000
75%,2008.000000,150.000000,9.000000,0.0,71540.000000
max,9999.000000,17700.000000,12.000000,0.0,99998.000000

can drop nr_of_pictures

In [11]:
autos.describe(exclude=np.number)

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,gearbox,model,odometer,fuel_type,brand,unrepaired_damage,ad_created,last_seen
count,50000,50000,50000,50000,50000,50000,44905,47320,47242,50000,45518,50000,40171,50000,50000
unique,48213,38754,2,2,2357,2,8,2,245,13,7,40,2,76,39481
top,2016-03-12 16:06:22,Ford_Fiesta,privat,Angebot,$0,test,limousine,manuell,golf,"150,000km",benzin,volkswagen,nein,2016-04-03 00:00:00,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,36993,4024,32424,30107,10687,35232,1946,8

can drop seller, offer_type columns
must change price and odometer columns to numeric type

In [12]:
autos['price']=autos['price'].str.replace('$','').str.replace(',','').astype(int)

In [13]:
autos['odometer']=autos['odometer'].astype(str)
autos['odometer']=autos['odometer'].str.replace('km','').str.replace(',','').astype(int)

In [23]:
autos=autos.rename(columns={'odometer':'odometer_km'})

In [24]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_p_s', 'model',
       'odometer_km', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

In [25]:
autos['odometer_km'].unique().shape

(13,)

In [26]:
autos['odometer_km'].describe()

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [27]:
autos['odometer_km'].value_counts().sort_index()

5000        967
10000       264
20000       784
30000       789
40000       819
50000      1027
60000      1164
70000      1230
80000      1436
90000      1757
100000     2169
125000     5170
150000    32424
Name: odometer_km, dtype: int64

it seems that 150000km is the maximum mileage description, encompasing all vehicles with mileage over 150000km. it also seems that 5000 is the lowest possible vehicle mileage. we'll remove both of these to remove the abiquity behind the true mileage of these vehicles.

In [28]:
autos=autos[autos['odometer_km'].between(10000,125000)]

In [29]:
autos['price'].unique().shape

(1797,)

In [30]:
autos['price'].describe()

count    1.660900e+04
mean     1.279336e+04
std      2.421522e+05
min      0.000000e+00
25%      2.750000e+03
50%      6.500000e+03
75%      1.300000e+04
max      2.732222e+07
Name: price, dtype: float64

In [31]:
autos['price'].value_counts().sort_index()

0           289
1            28
2             1
10            1
12            1
14            1
20            1
25            1
30            2
47            1
49            1
50            8
55            1
60            1
65            2
66            1
70            4
75            1
80            3
99            4
100          26
110           1
115           1
117           1
120           5
125           2
130           1
139           1
140           1
145           1
           ...
105000        1
109999        1
115991        1
116000        1
119900        1
120000        2
128000        1
129000        1
130000        1
135000        1
137999        1
139997        1
145000        1
151990        1
155000        1
163500        1
163991        1
169000        1
169999        1
180000        1
190000        1
220000        1
259000        1
299000        1
345000        1
999999        1
1300000       1
10000000      1
11111111      1
27322222      1
Name: price, Length: 1797, dtype: int64

we may want to remove the lower outliers in the price column, especially 0 and 1. we may also want to remove the upper outliers, especially those above 1 million

In [32]:
autos=autos[autos['price'].between(3,999999)]

In [39]:
autos['date_crawled'].str[:10].value_counts(normalize=True,dropna=False).sort_index()

2016-03-05    0.028182
2016-03-06    0.013631
2016-03-07    0.034445
2016-03-08    0.031252
2016-03-09    0.031252
2016-03-10    0.032603
2016-03-11    0.033339
2016-03-12    0.038865
2016-03-13    0.016516
2016-03-14    0.036594
2016-03-15    0.032357
2016-03-16    0.028366
2016-03-17    0.029533
2016-03-18    0.013017
2016-03-19    0.038681
2016-03-20    0.038436
2016-03-21    0.035427
2016-03-22    0.031866
2016-03-23    0.030699
2016-03-24    0.029717
2016-03-25    0.031313
2016-03-26    0.032725
2016-03-27    0.031682
2016-03-28    0.034752
2016-03-29    0.036102
2016-03-30    0.033155
2016-03-31    0.031559
2016-04-01    0.036532
2016-04-02    0.036716
2016-04-03    0.040830
2016-04-04    0.033585
2016-04-05    0.012280
2016-04-06    0.002210
2016-04-07    0.001781
Name: date_crawled, dtype: float64

the frequency distribution looks relatively consistent, but there seems to be a sharp dropoff during the last two days

In [42]:
autos['ad_created'].str[:10].value_counts(normalize=True,dropna=False).sort_index()

2015-06-11    0.000061
2015-08-10    0.000061
2015-09-09    0.000061
2015-11-10    0.000061
2015-12-30    0.000061
2016-01-03    0.000061
2016-01-10    0.000061
2016-01-22    0.000061
2016-01-27    0.000123
2016-02-01    0.000061
2016-02-05    0.000061
2016-02-07    0.000061
2016-02-09    0.000061
2016-02-14    0.000061
2016-02-16    0.000061
2016-02-17    0.000061
2016-02-18    0.000061
2016-02-19    0.000123
2016-02-20    0.000061
2016-02-21    0.000123
2016-02-23    0.000184
2016-02-24    0.000061
2016-02-25    0.000184
2016-02-26    0.000061
2016-02-27    0.000123
2016-02-28    0.000368
2016-02-29    0.000246
2016-03-01    0.000061
2016-03-02    0.000184
2016-03-03    0.000737
                ...
2016-03-09    0.031989
2016-03-10    0.032111
2016-03-11    0.033401
2016-03-12    0.038620
2016-03-13    0.017928
2016-03-14    0.035243
2016-03-15    0.032418
2016-03-16    0.028919
2016-03-17    0.029164
2016-03-18    0.013692
2016-03-19    0.037023
2016-03-20    0.038620
2016-03-21    0.035980
2016-03-22    0.031191
2016-03-23    0.030577
2016-03-24    0.029717
2016-03-25    0.031006
2016-03-26    0.033462
2016-03-27    0.031436
2016-03-28    0.034874
2016-03-29    0.036041
2016-03-30    0.032910
2016-03-31    0.031805
2016-04-01    0.036348
2016-04-02    0.036409
2016-04-03    0.040953
2016-04-04    0.033462
2016-04-05    0.011543
2016-04-06    0.002395
2016-04-07    0.001596
Name: ad_created, Length: 65, dtype: float64

the frequency of ad creation date trends upward. this could be due to the fact that many of the ads posted earlier in the time interval expired by the time the crawling took place.

In [43]:
autos['last_seen'].str[:10].value_counts(normalize=True,dropna=False).sort_index()

2016-03-05    0.000860
2016-03-06    0.003561
2016-03-07    0.004052
2016-03-08    0.004666
2016-03-09    0.007245
2016-03-10    0.009333
2016-03-11    0.009578
2016-03-12    0.020691
2016-03-13    0.006815
2016-03-14    0.010499
2016-03-15    0.014306
2016-03-16    0.012894
2016-03-17    0.023823
2016-03-18    0.007368
2016-03-19    0.013446
2016-03-20    0.018358
2016-03-21    0.017806
2016-03-22    0.019156
2016-03-23    0.016639
2016-03-24    0.016946
2016-03-25    0.017314
2016-03-26    0.014674
2016-03-27    0.013631
2016-03-28    0.017867
2016-03-29    0.021674
2016-03-30    0.022963
2016-03-31    0.021612
2016-04-01    0.022104
2016-04-02    0.024007
2016-04-03    0.024007
2016-04-04    0.021428
2016-04-05    0.139007
2016-04-06    0.249524
2016-04-07    0.152146
Name: last_seen, dtype: float64

the frequency distribution trends upward with time. this makes sense, considering many of the posts were likely recrawled and only the latest crawl date is kept in the data.

In [45]:
autos['registration_year'].describe()

count    16287.000000
mean      2008.860379
std        140.551983
min       1910.000000
25%       2003.000000
50%       2008.000000
75%       2011.000000
max       9999.000000
Name: registration_year, dtype: float64

the registration year distribution reflects a strong left skew. there are also some clear outliers on the upper end.

im going to exclude cars registered outside the timeframe of 1900 to 2016

In [47]:
autos=autos[autos['registration_year'].between(1900,2016)]

In [49]:
autos['registration_year'].value_counts(normalize=True).sort_index()

1910    0.000063
1931    0.000063
1934    0.000063
1937    0.000063
1941    0.000127
1943    0.000063
1948    0.000063
1951    0.000127
1952    0.000063
1954    0.000127
1955    0.000127
1956    0.000253
1957    0.000127
1958    0.000190
1959    0.000190
1960    0.000824
1961    0.000190
1962    0.000190
1963    0.000127
1964    0.000570
1965    0.000697
1966    0.000760
1967    0.001330
1968    0.000887
1969    0.001014
1970    0.001457
1971    0.001077
1972    0.001330
1973    0.000697
1974    0.000950
          ...
1987    0.001140
1988    0.002344
1989    0.002978
1990    0.004815
1991    0.004625
1992    0.005322
1993    0.005512
1994    0.005258
1995    0.012607
1996    0.012797
1997    0.016661
1998    0.021793
1999    0.026164
2000    0.029585
2001    0.030029
2002    0.032056
2003    0.039214
2004    0.040165
2005    0.050808
2006    0.058220
2007    0.057396
2008    0.072347
2009    0.087361
2010    0.073361
2011    0.082673
2012    0.074121
2013    0.047513
2014    0.040291
2015    0.019259
2016    0.013747
Name: registration_year, Length: 72, dtype: float64

this distribution trends upward as well. this makes sense considering the longer a car is in service, the less likely it is to be viable for resale

In [60]:
labels=autos['brand'].value_counts().index[:20]

In [66]:
di={}
for label in labels:
    di[label]=autos[autos['brand']==label]['price'].mean().astype(int)
print(di)
mean_prices=di

{'seat': 7268, 'citroen': 5468, 'mini': 12074, 'bmw': 15974, 'mercedes_benz': 16241, 'ford': 7017, 'renault': 4254, 'nissan': 7365, 'audi': 18612, 'toyota': 6972, 'volkswagen': 10115, 'mazda': 7083, 'fiat': 4002, 'smart': 4188, 'peugeot': 5212, 'skoda': 8389, 'opel': 5408, 'porsche': 52578, 'sonstige_autos': 15337, 'hyundai': 6983}

the mean brand prices reflect what one would expect. the higher ends brands tend to have higher prices than lower end brands.

In [69]:
di={}
for label in labels:
    di[label]=autos[autos['brand']==label]['odometer_km'].mean().astype(int)
print(di)
mileage=di

{'seat': 84125, 'citroen': 88415, 'mini': 73777, 'bmw': 89305, 'mercedes_benz': 85968, 'ford': 86370, 'renault': 91769, 'nissan': 86114, 'audi': 79327, 'toyota': 85583, 'volkswagen': 83863, 'mazda': 87698, 'fiat': 88041, 'smart': 81443, 'peugeot': 90357, 'skoda': 78673, 'opel': 91191, 'porsche': 75289, 'sonstige_autos': 66803, 'hyundai': 78576}

In [100]:
prices=pd.Series(mean_prices,name='prices').sort_values()

In [106]:
mileage=pd.Series(mileage,name='mileage')

In [102]:
top_20=pd.DataFrame({'mean price':prices})

In [103]:
top_20['mean price']

fiat               4002
smart              4188
renault            4254
peugeot            5212
opel               5408
citroen            5468
toyota             6972
hyundai            6983
ford               7017
mazda              7083
seat               7268
nissan             7365
skoda              8389
volkswagen        10115
mini              12074
sonstige_autos    15337
bmw               15974
mercedes_benz     16241
audi              18612
porsche           52578
Name: mean price, dtype: int64

In [107]:
top_20['mean mileage']=mileage

In [108]:
top_20

                mean price  mean mileage
fiat                  4002         88041
smart                 4188         81443
renault               4254         91769
peugeot               5212         90357
opel                  5408         91191
citroen               5468         88415
toyota                6972         85583
hyundai               6983         78576
ford                  7017         86370
mazda                 7083         87698
seat                  7268         84125
nissan                7365         86114
skoda                 8389         78673
volkswagen           10115         83863
mini                 12074         73777
sonstige_autos       15337         66803
bmw                  15974         89305
mercedes_benz        16241         85968
audi                 18612         79327
porsche              52578         75289

the mean price of vehicles seems to be more a function of the brand than off the mileage. mean mileage across brands are mostly comparable, but a clear trend in mean prices is seen.